<div class="ui center aligned container">
  <div class="ui centered big image">
    <img src="/assets/images/wedding-header3.png">
  </div>
  <div class="ui inverted toc menu" onclick={{action 'toggle'}}>
    <a class="item">
      <i class="sidebar icon"></i>
      Menu
    </a>
  </div>
  <div class="ui six item inverted blue site-nav menu">
      {{link-to "Home" "index" class="item"}}
      {{link-to "Our Story" "story" class="item"}}
      {{link-to "Gallery" "gallery" class="item"}}
      {{link-to "Details" "details" class="item"}}
      {{link-to "Registry" "registry" class="item"}}
      {{link-to "Contact" "contact" class="item"}}
  </div>
</div>
