<h2 class="ui header blue ribbon label">
  <i class="group icon"></i>
  <div class="content">
    The Wedding Party
    <div class="sub header">
      Our Grand Army
    </div>
  </div>
</h2>
<p></p>
<div class="ui stackable two column grid">
  {{#each weddingParty as |group|}}
    <div class="centered column">
      <img src={{group.headerImg}} class="ui centered circular medium image">
      <div class="ui divider">
      </div>
      <div class="ui doubling cards row">
        {{#each group.party as |member index|}}
          <div class="ui centered card">
            <div class="image">
              <img src={{member.url}}>
            </div>
            <div class="content">
              <div class="header">
                {{member.name}}
              </div>
              <div class="meta">
                <span>{{member.position}}</span>
              </div>
              <div class="description">
                {{member.description}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
